{{define "perso"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perso</title>
    <link rel="stylesheet" href="../static/css/perso.css">
</head>

<body>
    <section>
        {{range .}}
        <div class="character">
            <div class="info">
                <p>Nom : {{.LastName}}
                    Prénom : {{.FirstName}} <br>
                    Age : {{.Age}}
                    {{if .Hand}}
                    Main Dominante : Droite
                    {{else}}
                    Main dominante : Gauche
                    {{end}}</p>
            </div>

            <div class="lien">
                <a href="/modif?id={{.Id}}" class="modif">Modifier</a>
                <a href="/suppr?id={{.Id}}" class="suppr">Supprimer</a>
            </div>
        </div>
        {{end}}
        <div class="create">
            <a href="/ajout" class="build">Créer</a>
        </div>
    </section>

</body>

</html>
{{end}}